@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar{
  display: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #cecece #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 2vw;
}

*::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 10px;
}
