@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/questrial");

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
